<p>
  <strong>Barrio</strong><br>
  <%= domicilio.barrio.nombre %>
</p>

<p>
  <strong>Calle</strong><br>
  <%= domicilio.calle %>
  <%= domicilio.numero %>
  <%= domicilio.piso %><%= "° piso" if domicilio.piso.present? %>
  <%= "dto " if domicilio.departamento.present? %>
  <%= domicilio.departamento %>
</p>

<p>
  <strong>Observacion</strong><br>
  <%= domicilio.observacion %>
</p>
