<p>
  <b>Barrio:</b>
  <%= domicilio.barrio.nombre %>
</p>

<p>
  <b>Calle:</b>
  <%= domicilio.calle %>
  <%= domicilio.numero %>
  <%= domicilio.piso %><%= "° piso" if domicilio.piso.present? %>
  <%= "dto " if domicilio.departamento.present? %>
  <%= domicilio.departamento %>
</p>

<p>
  <b>Observacion:</b>
  <%= domicilio.observacion %>
</p>
