<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Personal">Datos Personales</a></li>
    <li><a data-toggle="tab" href="#Emprendedor">Situación Personal</a></li>
    <li><a data-toggle="tab" href="#Emprendimiento">Emprendimiento</a></li>
    <li><a data-toggle="tab" href="#Contacto">Datos de Contacto</a></li>
    <li><a data-toggle="tab" href="#SituacionImpositiva">Situacion Impositiva</a></li>
    <li><a data-toggle="tab" href="#Mercado">Mercado</a></li>
    <li><a data-toggle="tab" href="#Recursos">Recursos</a></li>
    <li><a data-toggle="tab" href="#Necesidades">Necesidades</a></li>
    <li><a data-toggle="tab" href="#Observaciones">Observaciones</a></li>
  </ul>

<%= simple_form_for(@emprendimiento) do |emprendimiento| %>
  <%= emprendimiento.error_notification %>
  <div class="tab-content">
    <%= emprendimiento.simple_fields_for :emprendedor do |emprendedor| %>
    <div id="Personal" class="tab-pane active">
      <fieldset>
        <%= emprendimiento.simple_fields_for :usuario do |usuario| %>
          <%= emprendimiento.simple_fields_for :persona do |persona| %>
            <%= persona.input :nombre %>
            <%= persona.input :apellido %>
            <%= persona.input :sexo,
                              :collection => ["Femenino", "Masculino"],
                              :as => :radio_buttons %>
          <% end %>
          <%= usuario.input :email,
                            :placeholder => 'nombre@dominio.com.ar' %>
          <%= usuario.input :password %>
        <% end %>
        <%= emprendedor.input :dni %>
        <%= emprendedor.input :cuit_cuil %>
        <%= emprendedor.input :domicilio %>
        <%= emprendedor.input :barrio, :collection => Barrio.all %>
        <%= emprendedor.input :telefono_particular %>
        <%= emprendedor.input :telefono_celular %>
        <%= emprendedor.input :telefono_para_mensajes %>
        <%= emprendedor.input :observaciones_de_telefonos %>
      </fieldset>
    </div>
    <div id="Emprendedor" class="tab-pane">
      <fieldset>
        <%= emprendedor.input :nivel_de_estudios_alcanzado %>
        <%= emprendedor.input :estudios_completos, :as => :radio_buttons %>
        <%= emprendedor.input :titulo %>
        <%= emprendedor.input :recibe_algun_plan_social, :as => :radio_buttons %>
        <%= emprendedor.input :plan_social %>
        <%= emprendedor.input :fecha_de_recepcion %>
        <%= emprendedor.input :actividad_laboral_principal %>
        <%= emprendedor.input :relacion_laboral %>
        <%= emprendedor.input :cantidad_de_horas_semanales %>
        <%= emprendedor.input :es_unico_ingreso, :as => :radio_buttons %>
      </fieldset>
    </div>

    <% end %>
    <div id="Emprendimiento" class="tab-pane">
      <fieldset>
        <%= emprendimiento.input :nombre %>
        <%= emprendimiento.input :es_marca_registrada, :as => :radio_buttons %>
        <%= emprendimiento.input :marca %>
        <%= emprendimiento.input :rubro, :collection => Rubro.all %>
        <%= emprendimiento.input :clasificacion, :collection => Clasificacion.all %>
        <%= emprendimiento.input :tipo %>
        <%= emprendimiento.input :descripcion, :input_html => { :class => "span6" } %>
        <%= emprendimiento.input :cantidad_de_integrantes,
                                 :collection => 1..20,
                                 :prompt => "Cantidad de integrantes" %>
        <%= emprendimiento.input :roles %>
        <%= emprendimiento.input :estado, :collection => Estado.all %>
        <%= emprendimiento.input :fecha_de_inicio_de_actividad %>

      </fieldset>
    </div>
    <div id="Contacto" class="tab-pane">
      <fieldset>
        <%= emprendimiento.input :web,
          :placeholder => 'www.emprendimiento.com.ar'
        %>
        <%= emprendimiento.input :mail,
          :placeholder => 'info@emprendimiento.com.ar'
        %>
        <%= emprendimiento.input :domicilio %>
        <%= emprendimiento.input :barrio, :collection => Barrio.all %>
        <%= emprendimiento.input :telefono %>
        <%= emprendimiento.input :celular %>
        <%= emprendimiento.input :telefono_de_mensajes %>
        <%= emprendimiento.input :comentarios,
          :placeholder => 'Llamar entre las 8 y 17 hs, telefono de mensajes solo por urgencias'
        %>
      </fieldset>
    </div>
    <div id="Mercado" class="tab-pane">
      <fieldset>
        <%= emprendimiento.input :tiene_monotributo %>
      </fieldset>
    </div>
    <div id="SituacionImpositiva" class="tab-pane">
      <fieldset>

      </fieldset>
    </div>
    <div id="Recursos" class="tab-pane">
      <fieldset>

      </fieldset>
    </div>
    <div id="Necesidades" class="tab-pane">
      <fieldset>

      </fieldset>
    </div>
    <div id="Observaciones" class="tab-pane">
      <fieldset>
      </fieldset>
      <%= emprendimiento.button :submit %>
    </div>
  </div>
<% end %>
</div>
