<%= show_for @emprendimiento do |emprendimiento| %>
<h1 class= "page-header"><%= @emprendimiento.nombre %></h1>
<div class="row">
<div class="span6">
  <%= emprendimiento.attribute :logotipo do %>
  <%= link_to image_tag(@emprendimiento.logotipo.url), @emprendimiento.logotipo.path, :class => "thumbnail" %>
  <% end %>
  <%= emprendimiento.association :estado, :using => :nombre %>
  <%= emprendimiento.attribute :marca if @emprendimiento.es_marca_registrada %>
  <%= emprendimiento.association :rubro, :using => :nombre %>
  <%= emprendimiento.attribute :tipo %>
  <%= emprendimiento.attribute :cantidad_de_integrantes %>
  <%= emprendimiento.attribute :cantidad_de_clientes_actuales %>
</div>
<div class="span6">
  <%= emprendimiento.attribute :descripcion %>
  <%= emprendimiento.attribute :fecha_de_inicio_de_actividad %>
  <%= emprendimiento.attribute :web %>
  <%= emprendimiento.attribute :mail %>
  <%= emprendimiento.attribute :domicilio %>
  <%= emprendimiento.association :barrio, :using => :nombre %>
  <%= emprendimiento.attribute :telefono %>
  <%= emprendimiento.attribute :celular %>
</div>
</div>

</div>
<div class="form-actions">

  <button type="button" class="btn" data-toggle="collapse" data-target="#comentarios">
    <i class="icon-comment"></i>
    <span id="contador_comentarios"><%= @emprendimiento.comentarios.aceptados.count %> Comentarios</span>
  </button>

  <%= link_to :back, :class => 'btn' do %>
    <i class="icon-arrow-left"></i>
    <span>Volver</span>
  <% end %>

  <span class="pull-right">
    <%= social_share_button_tag(@emprendimiento.nombre) %>
  </span>

</div>
<%= render 'comentarios/comentarios', :comentable => @emprendimiento %>
<% end %>
