<h1 class="page-header">Confirmar usuario</h1>
<div class="row">
  <div class="span8 offset2">

  <p class="alert alert-info">
    El sistema debe <strong>confirmar</strong> que usted es una persona real.
    Si usted no recibio las instrucciones para confirmar su usuario ingrese su correo electronico y precione el boton <em>Enviarme las instrucciones</em> para que se las enviemos nuevamente
  </p>
  <%= simple_form_for(resource, :as => resource_name,
                                :url => confirmation_path(resource_name),
                                :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>
    <%= f.error_notification %>

    <div class="inputs well">
      <%= f.input :email, :required => true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Enviarme las instrucciones", :class => 'btn btn-primary' %>
    </div>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
  </div>
</div>
