<%= show_for @servicio do |servicio| %>
<div class="row">
<div class="span6">
<ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/360x268" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/160x120" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/160x120" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/160x120" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/160x120" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/160x120" alt="">
          </a>
        </li>
</ul>
</div>
<div class="span6">
  <article>
    <p>
     <h4><%= @servicio.rubro.nombre %></font></h4>
       <h1><%= @servicio.nombre %></h1>
    </p>
    <%= servicio.attribute :descripcion %>
  </article>
<div class="form-actions">
  <%= link_to "Volver", :back, :class => 'btn btn-primary' %>
</div>
  </div>

  
<% end %>

