<%= simple_form_for @rubro do |f| %>

  <%= f.error_notification %>

  <fieldset>
    <%= f.input :nombre %>
    <%= f.input :descripcion %>
  </fieldset>

  <div class="actions">
    <%= f.button :submit, :class => 'btn primary' %>
    <%= boton_cancelar rubros_path %>
  </div>

<% end %>
