<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @rubro.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @rubro.descripcion %>
</p>


<%= boton_editar edit_rubro_path(@rubro) %> |
<%= boton_volver rubros_path %>
