<h2 class= "breadcrumb">Estado</h2>
<article>
<div class="row">
  <div class="span-one-third">
    <h3>Informacion General</h3>
    <p>
      <strong>Nombre</strong><br>
      <%= @rubro.nombre %>
    </p>

    <p>
      <strong>Descripcion</strong><br>
      <%= @rubro.descripcion %>
    </p>
    
    <p>
      <strong>Fecha de creacion</strong><br>
      <%= @rubro.created_at %>
    </p>
  </div>
</div>
</article>

<div class="actions">
  <%= boton_editar edit_rubro_path(@rubro) %>
  <%= boton_volver rubros_path %>
</div>
