<h1>Listado de emprendedores</h1>

<table>
  <tr>
    <th>Nombres</th>
    <th>Apellidos</th>
    <th colspan="3" rowspan="1">
      <%= boton_agregar new_emprendedor_path %>
    </th>
  </tr>

<% @emprendedores.each do |emprendedor| %>
  <tr>
    <td><%= emprendedor.persona.nombre %></td>
    <td><%= emprendedor.persona.apellido %></td>
    <td><%= boton_editar emprendedor %></td>
    <td><%= boton_editar edit_emprendedor_path(emprendedor) %></td>
    <td><%= boton_eliminar emprendedor %></td>
  </tr>
<% end %>
</table>
