<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @emprendedor.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @emprendedor.apellido %>
</p>

<p>
  <b>Email:</b>
  <%= @emprendedor.email %>
</p>

<%= boton_editar edit_emprendedor_path(@emprendedor) %> |
<%= boton_volver emprendedores_path %>
