<h2 class= "breadcrumb">Clasificaciones</h2>
<table id="4columnas" class="zebra-striped">
  <thead>
    <tr>
      <th class="blue">Codigo</th>
      <th class="blue">Nombre</th>
      <th class="blue">Descripcion</th>
      <th><%= boton_agregar new_clasificacion_path %></th>
    </tr>
  </thead>

  <tbody>
<% @clasificaciones.each do |clasificacion| %>
  <tr>
    <td><%= clasificacion.codigo %></td>
    <td><%= clasificacion.nombre %></td>
    <td><%= clasificacion.descripcion %></td>
      <td class="acciones">
        <%= boton_mostrar clasificacion %>
        <%= boton_editar edit_clasificacion_path(clasificacion) %>
        <%= boton_eliminar clasificacion %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
