<h1>Listando clasificaciones</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Codigo</th>
    <th colspan="3" rowspan="1">
      <%= boton_agregar new_clasificacion_path %>
    </th>
  </tr>

<% @clasificaciones.each do |clasificacion| %>
  <tr>
    <td><%= clasificacion.nombre %></td>
    <td><%= clasificacion.descripcion %></td>
    <td><%= clasificacion.codigo %></td>
    <td><%= boton_mostrar barrio %></td>
    <td><%= boton_editar edit_clasificacion_path(clasificacion) %></td>
    <td><%= boton_eliminar clasificacion %></td>
  </tr>
<% end %>
</table>

<br />
