<p>
  <b>Codigo:</b>
  <%= @clasificacion.codigo %>
</p>

<p>
  <b>Nombre:</b>
  <%= @clasificacion.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @clasificacion.descripcion %>
</p>

<div class="actions">
  <%= boton_editar edit_clasificacion_path(@clasificacion) %>
  <%= boton_volver clasificaciones_path %>
</div>
