<h2 class= "breadcrumb">Clasificacion</h2>
<article>
<div class="row">
  <div class="span-one-third">
    <h3>Informacion General</h3>
    <p>
      <strong>Codigo</strong><br>
      <%= @clasificacion.codigo %>
    </p>
    <p>
      <strong>Nombre</strong><br>
      <%= @clasificacion.nombre %>
    </p>
    <p>
      <strong>Descripcion</strong><br>
      <%= @clasificacion.descripcion %>
    </p>
    <p>
      <strong>Fecha de creacion</strong><br>
      <%= @clasificacion.created_at %>
    </p>
  </div>
</div>
</article>

<div class="actions">
  <%= boton_editar edit_clasificacion_path(@clasificacion) %>
  <%= boton_volver clasificaciones_path %>
</div>
