<div id="comentarios" class="collapse">
  <h3 class="page-header">Comentarios</h3>
  <div id="lista_de_comentarios">
    <%= render comentable.comentarios.aceptados %>
  </div>

<%= form_for(comentable.comentarios.new, :remote => true, :html => { :class => 'form-inline well' }) do |f| %>

    <%= f.text_field :texto, :class => 'span6' %>
    <%= f.text_field :comentable_id, :type => 'hidden' %>
    <%= f.text_field :comentable_type, :type => 'hidden' %>

    <%= f.submit "Comentar", :id => 'comentar', :format => :js, :remote => true, :class => "btn btn-primary" %>

<% end %>
    <p class="text-info">
    <span class="label label-info">Nota:</span>
    Los comentarios deberán ser aprobados por un moderador antes de ser visibles de forma pública y permamente.
    </p>
  </div>
