<div class="row">
  <div class="span3">
    <ul class="nav nav-list well">

      <li class="nav-header">Productos</li>
      <li><%= link_to "Grafico por Rubro", reporte_path('grafico_de_productos_por_rubro') %></li>
      <li><%= link_to "Listado por Rubro", reporte_path('listado_de_productos_por_rubro') %></li>

      <li class="nav-header">Servicios</li>
      <li><%= link_to "Grafico por Rubro", reporte_path('grafico_de_servicios_por_rubro') %></li>
      <li><%= link_to "Listado por Rubro", reporte_path('listado_de_servicios_por_rubro') %></li>

      <li class="nav-header">Emprendimientos</li>
      <li><%= link_to "Grafico por Rubro", reporte_path('grafico_de_emprendimientos_por_rubro') %></li>
      <li><%= link_to "Listado por Rubro", reporte_path('listado_de_emprendimientos_por_rubro') %></li>
    </ul>
  </div>
  <div class="span9">
    <h1 class= "page-header">Reportes</h1>
  </div>
