<h2 class= "breadcrumb">Contactos</h2>
<table id="5columnas" class="zebra-striped">
  <thead>
    <tr>
      <th class="blue">Persona</th>
      <th class="blue">Telefono</th>
      <th class="blue">Domicilio</th>
      <th class="blue">Mail</th>
      <th><%= boton_agregar new_contacto_path %></th>
    </tr>
  </thead>

  <tbody>
  <% @contactos.each do |contacto| %>
    <tr>
      <td><%= contacto.persona %></td>
      <td><%= contacto.telefono %></td>
      <td><%= contacto.domicilio %></td>
      <td><%= contacto.mail %></td>
      <td class="acciones">
        <%= boton_mostrar contacto %>
        <%= boton_editar edit_contacto_path(contacto) %>
        <%= boton_eliminar contacto %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
