<table class="zebra-striped">
  <caption>Contactos</caption>
  <thead>
    <tr>
      <th>Persona</th>
      <th>Telefono</th>
      <th>Domicilio</th>
      <th>Mail</th>
      <th><%= boton_agregar new_contacto_path %></th>
    </tr>
  </thead>

  <tbody>
  <% @contactos.each do |contacto| %>
    <tr>
      <td><%= contacto.persona %></td>
      <td><%= contacto.telefono %></td>
      <td><%= contacto.domicilio %></td>
      <td><%= contacto.mail %></td>
      <td class="acciones">
        <%= boton_mostrar contacto %>
        <%= boton_editar edit_contacto_path(contacto) %>
        <%= boton_eliminar contacto %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
