<p>
  <b>Persona:</b>
  <%= @contacto.persona %>
</p>

<p>
  <b>Telefono:</b>
  <%= @contacto.telefono %>
</p>

<p>
  <b>Domicilio:</b>
  <%= @contacto.domicilio %>
</p>

<p>
  <b>Mail:</b>
  <%= @contacto.mail %>
</p>

<div class="actions">
  <%= boton_editar edit_contacto_path(@contacto) %>
  <%= boton_volver contacto_path %>
</div>
