<%= simple_form_for(@institucion) do |f| %>

  <%= f.error_notification %>

  <fieldset>
    <legend>Institucion</legend>
    <%= f.input :nombre %>
    <%= f.input :descripcion %>
  </fieldset>

  <fieldset>
    <legend>Telefonos</legend>
    <%= f.simple_fields_for :telefono do |telefono| %>
      <%= render "telefonos/form", :f => telefono %>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Domicilio</legend>
    <%= f.simple_fields_for :domicilio do |domicilio| %>
      <%= render "domicilios/form", :f => domicilio %>
    <% end %>
  </fieldset>

  <div class="actions">
    <%= f.submit  :class => 'btn primary' %>
    <%= boton_cancelar instituciones_path %>
  </div>

<% end %>
