<div class="row">
  <div class="span12 columns offset2">
<h3>Institucion</h3>
<p>
  <b>Nombre:</b>
  <%= @institucion.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @institucion.descripcion %>
</p>

<p>
  <h3>Telefonos</h3>
  <%= render "telefonos/show", :telefono => @institucion.telefono %>
</p>

<p>
  <h3>Domicilio</h3>
  <%= render "domicilios/show", :domicilio => @institucion.domicilio %>
</p>

  </div>
</div>

<div class="actions">
  <%= boton_editar edit_institucion_path(@institucion) %>
  <%= boton_volver instituciones_path %>
</div>
