<p>
  <b>Nombre:</b>
  <%= @institucion.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @institucion.descripcion %>
</p>

<p>
  <b>Telefono:</b>
  <%= @institucion.telefono %>
</p>

<p>
  <b>Domicilio:</b>
  <%= @institucion.domicilio %>
</p>


<%= boton_editar edit_institucion_path(@institucion) %> |
<%= boton_volver instituciones_path %>
