<%= show_for @perfil do |perfil| %>
  <h1 class= "page-header">Mi Perfil</h1>
  <div class="row">
    <div class="span4">
      <%= perfil.attribute :dni %>
      <%= perfil.attribute :cuit_cuil %>
      <%= perfil.attribute :nivel_de_estudios %>
      <%= perfil.attribute :estudios_completos %>
      <%= perfil.attribute :titulo %>
    </div>
    <div class="span4">
      <%= perfil.attribute :domicilio %>
      <%= perfil.association :barrio, :using => :nombre %>
      <%= perfil.attribute :telefono_particular %>
      <%= perfil.attribute :telefono_celular %>
      <%= perfil.attribute :telefono_para_mensajes %>
      <%= perfil.attribute :observaciones_de_telefonos %>
    </div>
    <div class="span4">
      <%= perfil.attribute :recibe_o_recibio_algun_plan_social %>
      <%= perfil.attribute :plan_social if @perfil.recibe_o_recibio_algun_plan_social? %>
      <%= perfil.attribute :fecha_de_recepcion if @perfil.recibe_o_recibio_algun_plan_social? %>
      <%= perfil.attribute :actividad_laboral_principal %>
      <%= perfil.attribute :cantidad_de_horas_semanales %>
      <%= perfil.attribute :es_unico_ingreso %>
      <%= perfil.attribute :explicacion_de_ingresos unless @perfil.es_unico_ingreso? %>
    </div>
  </div>
  <div class="progress">
    <div class="bar" style="width: <%= @perfil.progreso %>% ;">
      <%= @perfil.progreso %>%
    </div>
  </div>
  <div class="form-actions">
    <%= link_to(edit_perfil_path, :class => "btn btn-primary" ) do %>
      <i class="icon-edit icon-white"></i>
      <span>Editar</span>
    <% end %>
    <%= link_to :back, :class => 'btn' do %>
      <i class="icon-arrow-left"></i>
      <span>Volver</span>
    <% end %>
  </div>
<% end %>
