<%= form_for(@noticia) do |f| %>
  <% if @noticia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@noticia.errors.count, "error") %> prohibited this noticia from being saved:</h2>

      <ul>
      <% @noticia.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag "Titulo" %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= label_tag "Fecha" %><br />
    <%= f.text_field :fecha %>
  </div>
  <div class="field">
    <%= label_tag "Texto" %><br />
    <%= f.text_field :texto %>
  </div>
  <div class="field">
    <%= label_tag "Publicado" %><br />
    <%= f.check_box :publicado %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
