<%= simple_form_for(@noticia) do |f| %>

  <%= f.error_notification %>

  <fieldset>
    <%= f.input :titulo %>
    <%= f.input :texto, :as => :text %>
    <%= f.input :autor %>
    <%= f.input :fecha %>
    <%= f.input :publicada %>
  </fieldset>

  <div class="actions">
    <%= f.button :submit, :class => 'btn primary' %>
    <%= boton_cancelar noticias_path %>
  </div>

<% end %>
