<h2 class= "breadcrumb">Cartelera de Noticias</h2>
<div class="row">
<div class="alert-message block-message info columns span12">
<ul class="tabs" data-tabs="tabs">
<% @noticias.each do |noticia| %>
  <% if noticia == @noticias.first %>
    <li class="active">
  <% else %>
    <li class="">
  <% end %>
  <%= link_to noticia.id, :anchor => noticia %></li>
  
<% end %>
</ul>

<div id="my-tab-content" class="tab-content">
<% @noticias.each do |noticia| %>
    <%= div_for(noticia, :class => "active tab-pane") do %>
    <article>
      <p><strong>Titulo:</strong><%= noticia.titulo %></p>
      <p><strong>Autor:</strong><%= noticia.autor %></p>
      <p><strong>Fecha publicacion:</strong><%= noticia.fecha %></p>
      <p>
        <%= noticia.texto %>
      </p>
    </article>
  <% end %>
<% end %>


</div>
</div>
<div class="columns span3 alert-message block-message">
fechas
</div>
</div>
