<h1 class= "page-header">Cartelera de Noticias</h1>
<ul class="thumbnails">
<% @noticias.each do |noticia| %>
  <li class="span6">
    <div class="thumbnail">
      <div class="caption">
        <h2><%= noticia.titulo %></h2>
        <h5>Por: <%= noticia.autor.persona.nombre_completo %></h5>
        <h6><%= noticia.fecha %></h6>
        <%= noticia.texto.html_safe %>
        <hr>
        <p>
          <%= link_to "Leer mas...", noticia_path(noticia), :class => "btn btn-primary" %>
          <a class="btn" href="#">Comentar</a>
        </p>
      </div>
    </div>
  </li>
<% end %>
</ul>
<hr>
<%= paginate @noticias %>
