<% if autenticado? %>
  <%= boton_agregar new_noticia_path %>
<% end %>

<% @noticias.each do |noticia| %>
  <article>
  <header><h2><%= noticia.titulo %></h2></header>
  <section><%= noticia.texto %></section>
  <footer>
  Autor: <%= noticia.autor %><br>
  Publicado el: <%= noticia.fecha %>
  <%= noticia.publicada %>

  <% if autenticado? %>
    <%= boton_mostrar noticia %>
    <%= boton_editar edit_noticia_path(noticia) %>
    <%= boton_eliminar noticia %>
  <% end %>
  </footer>
  </article>
<% end %>
