<h2 class= "breadcrumb">Noticias</h2>
<table id="5columnas" class="zebra-striped">
  <thead>
    <tr>
      <th class="blue">Titulo</th>
      <th class="blue">Autor</th>
      <th class="blue">Fecha</th>
      <th class="blue">Publicada</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @noticias.each do |noticia| %>
    <tr>
      <td><%= noticia.titulo %></td>
      <td><%= noticia.autor.nombre_completo %></td>
      <td><%= noticia.fecha %></td>
      <td><%= noticia.publicada %></td>
      <td class="acciones"><%= boton_mostrar noticia %></td>
    </tr>
  <% end %>
  </tbody>
</table>
