<h2 class= "well">Cartelera de Noticias</h2>
<% @noticias.each do |noticia| %>
    <article class="">
      <header>
      <h1>
        <%= noticia.titulo %>
        <small> por <strong><%= noticia.autor.nombre_completo %></strong></small>
      </h1>
      </header>
      <%= noticia.texto.html_safe %>
      <footer>
        <p>
          <strong>Fecha publicacion: </strong>
          <%= noticia.fecha %>
        </p>
      </footer>
    </article>
<% end %>
<hr>
<%= paginate @noticias %>
