<h2>Noticias</h2>
<table class="zebra-striped">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Autor</th>
      <th>Fecha</th>
      <th>Publicada</th>
      <th><%= boton_agregar new_noticia_path %></th>
    </tr>
  </thead>

  <tbody>
  <% @noticias.each do |noticia| %>
    <tr>
      <td><%= noticia.titulo %></td>
      <td><%= noticia.autor %></td>
      <td><%= noticia.fecha %></td>
      <td><%= noticia.publicada %></td>
      <td class="acciones">
        <%= boton_mostrar noticia %>
        <%= boton_editar edit_noticia_path(noticia) %>
        <%= boton_eliminar noticia %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
