<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @noticia.titulo %>
</p>

<p>
  <b>Fecha:</b>
  <%= @noticia.fecha %>
</p>

<p>
  <b>Texto:</b>
  <%= @noticia.texto %>
</p>

<p>
  <b>Publicado:</b>
  <%= @noticia.publicado %>
</p>


<%= link_to 'Edit', edit_noticia_path(@noticia) %> |
<%= link_to 'Back', noticias_path %>
