<h2 class= "breadcrumb">Noticia</h2>
<article>
<div class="row">
  <div class="span-one-third">
    <h3>Informacion General</h3>
    <p>
      <strong>Titulo</strong><br>
      <%= @noticia.titulo %>
    </p>

    <p>
      <strong>Autor</strong><br>
      <%= @noticia.autor %>
    </p>

  </div>

  <div class="span-one-third">
    <h3>Cuerpo</h3>
    <p>
      <strong>Texto</strong><br>
      <%= @noticia.texto %>
    </p>
  </div>

  <div class="span-one-third">
    <h3>Datos de Publicacion</h3>
    <p>
      <strong>Publicado</strong><br>
      <%= @noticia.publicada %>
    </p>

    <p>
      <strong>Fecha publicacion</strong><br>
      <%= @noticia.fecha %>
    </p>

    <p>
      <strong>Fecha de creacion</strong><br>
      <%= @noticia.created_at %>
    </p>
  </div>
</div>
</article>

<div class="actions">
  <%= boton_editar edit_noticia_path(@noticia) %>
  <%= boton_volver noticias_path %>
</div>
