<h1 class= "page-header"><%= @noticia.titulo %></h1>
<article>
  <h4><%= @noticia.resumen %><h4>
  <hr>
  <div>
    <%= @noticia.texto.html_safe %>
  </div>
  <hr>
  <h6>Publicada el <%= @noticia.updated_at %> por <%= @noticia.autor.nombre_completo %></h6>
</article>

<div class="form-actions">
  <% if can? :read, @noticia %>
    <%= link_to(admin_noticia_path(@noticia), :class => 'btn btn-info') do %>
      <i class="icon-info-sign"></i>
      <span>Mostrar</span>
    <% end %>
  <% end %>
  <% if can? :manage, @noticia %>
    <%= link_to(edit_admin_noticia_path(@noticia), :class => 'btn btn-warning') do %>
      <i class="icon-pencil"></i>
      <span>Editar</span>
    <% end %>
  <% end %>

  <button type="button" class="btn" data-toggle="collapse" data-target="#comentarios">
    <i class="icon-comment"></i>
    <span id="contador_comentarios"><%= @noticia.comentarios.aceptados.count %> Comentarios</span>
  </button>

  <%= link_to :back, :class => 'btn' do %>
    <i class="icon-arrow-left"></i>
    <span>Volver</span>
  <% end %>
</div>

<%= render 'comentarios/comentarios', :comentable => @noticia %>
