<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @noticia.titulo %>
</p>

<p>
  <b>Fecha:</b>
  <%= @noticia.fecha %>
</p>

<p>
  <b>Texto:</b>
  <%= @noticia.texto %>
</p>

<p>
  <b>Publicado:</b>
  <%= @noticia.publicado %>
</p>


<%= boton_editar edit_noticia_path(@noticia) %> |
<%= boton_volver noticias_path %>
