<div class="pagination">
  <ul>
    <li class="prev"><a href="#">&larr; Anterior</a></li>
    <% @noticias.each do |noticia| %>
      <% if @noticia.id == noticia.id %>
      <li class="active"><%= link_to noticia.id, noticia %></li>
      <% else %>
      <li><%= link_to noticia.id, noticia %></li>
      <% end %>
    <% end %>
    <li class="next"><a href="#">Siguiente &rarr;</a></li>
  </ul>
</div>
<article>
  <header>
  <h3><%= @noticia.titulo %></h3>
  <section>
    <%= @noticia.texto %>
  </section>
  <footer>
  <p>Autor: <%= @noticia.autor %></p>
  <p>Publicada el: <%= @noticia.fecha %></p>
</article>
