<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Emprender", root_path, :id => "logo", :class => "brand" %>
      <ul class="nav">
        <li class="<%= 'active' if current_page?(:action => 'acerca') %>">
          <%= link_to "Acerca de...", acerca_path %>
        </li>
        <li class="divider-vertical"></li>
        <li class="<%= 'active' if current_page?(:controller => 'noticias') %>">
          <%= link_to "Noticias", noticias_path %>
        </li>
        <li class="<%= 'active' if current_page?(:controller => 'eventos') %>">
          <%= link_to "Eventos", eventos_path %>
        </li>
        <% if usuario_signed_in? %>
          <% if current_usuario.administrador? %>
            <%= render 'general/menu_pem' %>
          <% elsif current_usuario.representante? %>
            <%= render 'general/menu_pem' %>
          <% elsif current_usuario.emprendedor? %>
            <li>
              <%= link_to "Mi Emprendimiento", root_path %>
            </li>
          <% end %>
        <% else %>
          <li class="<%= 'active' if current_page?(:controller => 'padron') %>">
            <%= link_to "Empadronarse", empadronarme_path %>
          </li>
        <% end %>
      </ul>
      <ul class="nav pull-right">
        <% if usuario_signed_in? %>
        <li><%= link_to current_usuario.persona.nombre, usuario_path(current_usuario) %></li>
        <li><%= link_to "Cerrar Sesion", destroy_usuario_session_path, :method => :delete %></li>
        <% else %>
        <li><%= link_to "Iniciar Sesion", new_usuario_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
