<div class="topbar" data-dropdown="dropdown">
  <div class="topbar-inner">
    <div class="container">
      <h3><%= link_to "Emprender", root_path, :id => "logo" %></h3>
      <ul class="nav">
        <li class=""><%= link_to "Acerca de...", acerca_path %></li>
        <li class=""><%= link_to "Noticias", cartelera_noticias_path %></li>
        <li class=""><%= link_to "Eventos", cartelera_eventos_path %></li>
        <% if usuario_signed_in? %>
          <% if current_usuario.administrador? %>
            <%= render 'general/menu_pem' %>
          <% elsif current_usuario.representante? %>
            <%= render 'general/menu_pem' %>
          <% elsif current_usuario.emprendedor? %>
            <li><%= link_to "Mi Emprendimiento", root_path %></li>
          <% end %>
        <% else %>
          <li><%= link_to "Empadronarse", root_path %></li>
        <% end %>
      </ul>
      <ul class="nav secondary-nav">
        <% if usuario_signed_in? %>
        <li><%= link_to current_usuario.usuario, usuario_path(current_usuario) %></li>
        <li><%= link_to "Cerrar Sesion", destroy_usuario_session_path, :method => :delete %></li>
        <% else %>
        <li><%= link_to "Iniciar Sesion", new_usuario_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
