<div class="topbar">
  <div class="topbar-inner">
    <div class="container">
      <h3><%= link_to "Emprender", root_path, :id => "logo" %></h3>
      <ul class="nav">
        <li class=""><%= link_to "Noticias", cartelera_noticias_path %></li>
        <li class=""><%= link_to "Eventos", cartelera_eventos_path %></li>
        <% if autenticado? %>
          <% if usuario_actual.administrador? %>
            <%= render 'general/menu_administrador' %>
          <% elsif usuario_actual.representante? %>
            <%= render 'general/menu_representante' %>
          <% elsif usuario_actual.emprendedor? %>
            <%= render 'general/menu_emprendedor' %>
          <% end %>
        <% else %>
          <li><%= link_to "Empadronarse", root_path %></li>
        <% end %>
      </ul>
      <ul class="nav secondary-nav">
        <% if autenticado? %>
        <li><%= link_to usuario_actual.usuario, usuario_path(usuario_actual) %></li>
        <li><%= link_to "Cerrar Sesion", logout_path %></li>
        <% else %>
        <li><%= link_to "Iniciar Sesion", login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
