<%= render 'general/menu_representante' %>
<li class="dropdown" data-dropdown="dropdown">
  <a class="dropdown-toggle" href="#">Gestion</a>
  <ul class="dropdown-menu">
    <li class=""><%= link_to "Noticias", noticias_path %></li>
    <li class=""><%= link_to "Eventos", eventos_path %></li>
    <li class="divider"></li>
    <li class=""><%= link_to "Barrios", barrios_path %></li>
    <li class=""><%= link_to "Categorias", categorias_path %></li>
    <li class=""><%= link_to "Clasificaciones", clasificaciones_path %></li>
    <li class=""><%= link_to "Estados", estados_path %></li>
    <li class=""><%= link_to "Rubros", rubros_path %></li>
    <li class="divider"></li>
    <li class=""><%= link_to "Instituciones", instituciones_path %></li>
    <li class=""><%= link_to "Usuarios", usuarios_path %></li>
  </ul>
</li>
