<%= search_form_for(@q, :url => mi_emprendimiento_productos_path,
                        :html => { :class => 'form-search' }) do |f| %>
  <strong>Ordenar por:</strong>
  <%= sort_link @q, :tipo, {}, :class => 'label' %>
  <%= sort_link @q, :nombre, {}, :class => 'label' %>
  <%= sort_link @q, :descripcion, {}, :class => 'label' %>
  <%= sort_link @q, :lugar, {}, :class => 'label' %>

  <div class="input-append pull-right">
    <%= f.text_field :tipo_or_nombre_or_descripcion_or_lugar_cont,
                     :class=> 'search-query span3',
                     :placeholder => 'Tipo, Nombre, Descripcion o Lugar' %>
    <%= link_to(eventos_path, :type => 'button',
                              :class => 'btn btn-comun',
                              rel: 'tooltip', title: 'Ver todos',) do %>
      <i class="icon-remove-sign"></i>
    <% end %>
    <%= f.button "Buscar", :class=> 'btn' %>
  </div>
<% end %>
<hr>
