<%= simple_form_for(@evento) do |f| %>
  <%= f.error_notification %>

<div class="row">
  <div class="span8 columns">
    <fieldset>
      <%= f.association :tipoEvento, :label_method =>  :nombre, :prompt => 'Elija un tipo', :label => 'Tipo' %>
      <%= f.input :nombre %>
      <%= f.input :descripcion %>
      <%= f.input :fechaHoraInicio %>
      <%= f.input :fechaHoraFinalizacion %>
      <%= f.association :institucion, :label_method =>  :nombre, :prompt => 'Elija una institucion' %>
      <%= f.input :publicado %>
      <%= f.input :fechaPublicacion %>
    </fieldset>
  </div>
  <div class="span8 columns">
    <fieldset>
      <legend>Lugar</legend>
      <%= f.simple_fields_for :domicilio do |domicilio| %>
        <%= render "domicilios/form", :f => domicilio %>
      <% end %>
    </fieldset>
  </div>
</div>
  <div class="actions">
    <%= f.submit :class => 'btn primary' %>
    <%= boton_cancelar eventos_path %>
  </div>
<% end %>
