<%= form_for(@evento) do |f| %>
  <% if @evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evento.errors.count, "error") %> prohibited this evento from being saved:</h2>

      <ul>
      <% @evento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag "Nombre" %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= label_tag "Fecha y Hora de Inicio" %><br />
    <%= f.text_field :fechaHoraDeInicio %>
  </div>
  <div class="field">
    <%= label_tag "Fecha y Hora de Finalizacion" %><br />
    <%= f.text_field :fechaHoraDeFinalizacion %>
  </div>
  <div class="field">
    <%= label_tag "Lugar" %><br />
    <%= f.text_field :lugar %>
  </div>
  <div class="field">
    <%= label_tag "Descripcion" %><br />
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= label_tag "Publicado" %><br />
    <%= f.check_box :publicado %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
