<h1 class= "page-header">Cartelera de Eventos</h1>
<%= render 'busqueda' %>
<ul class="thumbnails">
<% @eventos.each do |evento| %>
  <li class="span6">
    <div class="thumbnail">
      <div class="caption">
        <h2><%= evento.nombre %></h2>
        <h6>Publicado el <%= evento.updated_at %> por <%= evento.autor.nombre_completo %></h6>
        <hr>
        <p><%= evento.resumen %></p>
        <hr>
        <p>
          <%= link_to(evento_path(evento), :class => "btn btn-primary") do %>
            <i class="icon-eye-open icon-white"></i>
            <span>Leer mas...</span>
          <% end %>
          <% if can? :read, evento %>
            <%= link_to(admin_evento_path(evento), :class => 'btn btn-info') do %>
              <i class="icon-info-sign"></i>
              <span>Mostrar</span>
            <% end %>
          <% end %>
          <% if can? :manage, evento %>
            <%= link_to(edit_admin_evento_path(evento), :class => 'btn btn-warning') do %>
              <i class="icon-pencil"></i>
              <span>Editar</span>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </li>
<% end %>
</ul>

<%= paginate @eventos %>
<% if can? :manage, Evento %>
  <div class="form-actions">
      <%= link_to(admin_eventos_path, :class => 'btn btn-inverse') do %>
        <i class="icon-list-alt icon-white"></i>
        <span>Administrar</span>
      <% end %>
      <%= link_to(new_admin_evento_path, :class => 'btn btn-success') do %>
        <i class="icon-plus"></i>
        <span>Nuevo</span>
      <% end %>
  </div>
<% end %>
