<h1>Listado de eventos</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Fechadeinicio</th>
    <th>Fechadefinalizacion</th>
    <th>Lugar</th>
    <th>Descripcion</th>
    <th>Publicado</th>
    <th colspan="3" rowspan="1">
      <%= boton_agregar new_evento_path %>
    </th>
  </tr>

<% @eventos.each do |evento| %>
  <tr>
    <td><%= evento.titulo %></td>
    <td><%= evento.fechaDeInicio %></td>
    <td><%= evento.fechaDeFinalizacion %></td>
    <td><%= evento.lugar %></td>
    <td><%= evento.descripcion %></td>
    <td><%= evento.publicado %></td>
    <td><%= boton_mostrar evento %></td>
    <td><%= boton_editar edit_evento_path(evento) %></td>
    <td><%= boton_eliminar evento %></td>
  </tr>
<% end %>
</table>
