<h2 class= "breadcrumb">Evento</h2>
<article>
<div class="row">
  <div class="span-one-third">
    <h3>Informacion General</h3>
    <p>
      <strong>Tipo</strong><br>
      <%= @evento.tipo %>
    </p>

    <p>
      <strong>Organizador</strong><br>
      <%= @evento.organizador.nombre %>
    </p>

    <p>
      <strong>Nombre</strong><br>
      <%= @evento.nombre %>
    </p>

    <p>
      <strong>Descripcion</strong><br>
      <%= @evento.descripcion %>
    </p>
  </div>

  <div class="span-one-third">
    <h3>Lugar, Fecha y Hora</h3>
    <p>
      <strong>Descripcion</strong><br>
      <%= @evento.lugar %>
    </p>

    <p>
      <strong>Fecha y hora de inicio:</strong><br>
      <%= @evento.fecha_y_hora_de_inicio %>
    </p>

    <p>
      <strong>Fecha y hora de finalizacion</strong><br>
      <%= @evento.fecha_y_hora_de_finalizacion %>
    </p>
  </div>

  <div class="span-one-third">
    <h3>Datos de Publicacion</h3>
    <p>
      <strong>Publicado</strong><br>
      <%= @evento.publicado %>
    </p>

    <p>
      <strong>Fecha publicacion</strong><br>
      <%= @evento.fecha_de_publicacion %>
    </p>

    <p>
      <strong>Fecha de creacion</strong><br>
      <%= @evento.created_at %>
    </p>
  </div>
</div>
</article>

<div class="actions">
  <%= boton_volver eventos_path %>
</div>
