<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @evento.titulo %>
</p>

<p>
  <b>Fechadeinicio:</b>
  <%= @evento.fechaDeInicio %>
</p>

<p>
  <b>Fechadefinalizacion:</b>
  <%= @evento.fechaDeFinalizacion %>
</p>

<p>
  <b>Lugar:</b>
  <%= @evento.lugar %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @evento.descripcion %>
</p>

<p>
  <b>Publicado:</b>
  <%= @evento.publicado %>
</p>


<%= boton_editar edit_evento_path(@evento) %> |
<%= boton_volver eventos_path %>
