<h1 class= "page-header"><%= @evento.nombre %></h1>
<h6>Publicado el <%= @evento.updated_at %> por <%= @evento.autor.nombre_completo %></h6>
<hr>
<%= show_for @evento do |evento| %>
<article>
<div class="row">
  <div class="span4">
    <%= evento.attribute :tipo %>
    <%= evento.association :organizador, :using => :nombre %>
    <%= evento.attribute :lugar %>
    <%= evento.attribute :domicilio %>
    <%= evento.association :barrio, :using => :nombre %>
    <%= evento.attribute :fecha_y_hora_de_inicio, :format => :long %>
    <%= evento.attribute :fecha_y_hora_de_finalizacion, :format => :long %>
  </div>
  <div class="span4">
    <div class="thumbnail ">
      <% if @evento.folleto.url.blank? %>
        <img src="http://placehold.it/300x500&text=folleto" alt="">
      <% else %>
        <%= link_to image_tag(@evento.folleto.url), @evento.folleto.url %>
      <% end %>
    </div>
  </div>
  <div class="span4">
    <div class="thumbnail ">
      <%= link_to image_tag(@evento.mapa), @evento.mapa %>
    </a>
  </div>
  <%= evento.attribute :descripcion %>
</div>
</article>
<% end %>

<div class="form-actions">
  <% if can? :read, @evento %>
    <%= link_to(admin_evento_path(@evento), :class => 'btn btn-info') do %>
      <i class="icon-info-sign"></i>
      <span>Mostrar</span>
    <% end %>
  <% end %>
  <% if can? :manage, @evento %>
    <%= link_to(edit_admin_evento_path(@evento), :class => 'btn btn-warning') do %>
      <i class="icon-pencil"></i>
      <span>Editar</span>
    <% end %>
  <% end %>

  <button type="button" class="btn" data-toggle="collapse" data-target="#comentarios">
    <i class="icon-comment"></i>
    <span id="contador_comentarios"><%= @evento.comentarios.aceptados.count %> Comentarios</span>
  </button>

  <%= link_to :back, :class => 'btn' do %>
    <i class="icon-arrow-left"></i>
    <span>Volver</span>
  <% end %>

  <span class="pull-right">
    <%= social_share_button_tag(@evento.nombre) %>
  </span>

</div>

<%= render 'comentarios/comentarios', :comentable => @evento %>
