<h2>Categorias</h2>
<table id="3columnas" class="zebra-striped">
  <thead>
    <tr>
      <th class="blue">Nombre</th>
      <th class="blue">Descripcion</th>
      <th><%= boton_agregar new_categoria_path %></th>
    </tr>
  </thead>

  <tbody>
  <% @categorias.each do |categoria| %>

    <%= content_tag_for(:tr, categoria) do %>
      <td><%= categoria.nombre %></td>
      <td><%= categoria.descripcion %></td>
          <td class="acciones">
        <%= boton_mostrar categoria %>
        <%= boton_editar edit_categoria_path(categoria) %>
        <%= boton_eliminar categoria %>
      </td>
    <% end %>
  <% end %>

  </tbody>
</table>
