<h2 class= "breadcrumb">Categoria</h2>
<article>
<div class="row">
  <div class="span-one-third">
    <h3>Informacion General</h3>
    <p>
      <strong>Nombre</strong><br>
      <%= @categoria.nombre %>
    </p>
    <p>
      <strong>Descripcion</strong><br>
      <%= @categoria.descripcion %>
    </p>
    <p>
      <strong>Fecha de creacion</strong><br>
      <%= @categoria.created_at %>
    </p>
  </div>
</div>
</article>

<div class="actions">
  <%= boton_editar edit_categoria_path(@categoria) %>
  <%= boton_volver categorias_path %>
</div>
