<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @categoria.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @categoria.descripcion %>
</p>


<%= boton_editar edit_categoria_path(@categoria) %>
<%= boton_volver categorias_path %>
