<div class="clearfix">
  <%= f.label :fijo %>
  <div class="input">
    <%= f.telephone_field :fijo %>
  </div>
</div>
<div class="clearfix">
  <%= f.label :celular %>
  <div class="input">
    <%= f.telephone_field :celular %>
  </div>
</div>
<div class="clearfix">
  <%= f.label :mensajes %>
  <div class="input">
    <%= f.telephone_field :mensajes %>
  </div>
</div>
<div class="clearfix">
  <%= f.label :observaciones %>
  <div class="input">
    <%= f.text_field :observaciones %>
  </div>
</div>
