<div class="clearfix">
  <%= f.label :nombre %>
  <div class="input">
    <%= f.text_field :nombre %>
  </div>
</div>
<div class="clearfix">
  <%= f.label :apellido %>
  <div class="input">
    <%= f.text_field :apellido %>
  </div>
</div>
<div class="clearfix">
  <%= f.label :sexo %>
  <div class="input">
    <ul class="inputs-list">
      <li>
        <%= f.radio_button :sexo, "false" %>
        <span>Femenino</span>
      </li>
      <li>
        <%= f.radio_button :sexo, "true" %>
        <span>Masculino</span>
      </li>
    </ul>
  </div>
</div>
