<table>
<caption>Listando personas</caption>
<thead>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Sexo</th>
    <th colspan="3" rowspan="1">
      <%= boton_agregar new_persona_path %>
    </th>
  </tr>
</thead>
<tbody>
<% sombrear = true %>
<% @personas.each do |persona| %>
<% if sombrear %>
  <tr class="odd">
  <% sombrear = false %>
<% else %>
  <tr>
  <% sombrear = true %>
<% end %>
    <td><%= persona.nombre %></td>
    <td><%= persona.apellido %></td>
    <td><%= persona.sexo %></td>
    <td><%= boton_mostrar persona %>
    <%= boton_editar edit_persona_path(persona) %>
    <%= boton_eliminar persona %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />
