<h1>Listado de personas</h1>

<table>
  <tr>
    <th>Nombres</th>
    <th>Apellidos</th>
    <th colspan="3" rowspan="1">
      <%= boton_agregar new_persona_path %>
    </th>
  </tr>

<% @personas.each do |persona| %>
  <tr>
    <td><%= persona.nombre %></td>
    <td><%= persona.apellido %></td>
    <td class="accion"><%= boton_mostrar persona %></td>
    <td class="accion"><%= boton_editar edit_persona_path(persona) %></td>
    <td class="accion"><%= boton_eliminar persona %></td>
  </tr>
<% end %>
</table>

<br />
