<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @persona.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @persona.apellido %>
</p>

<p>
  <b>Sexo:</b>
  <%= @persona.sexo? ? "Masculino" : "Femenino"  %>
</p>

<%= boton_editar edit_persona_path(@persona) %> |
<%= boton_volver personas_path %>
