<p id="notice" class="alert-message successw"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @persona.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @persona.apellido %>
</p>

<p>
  <b>Sexo:</b>
  <%= @persona.sexo %>
</p>


<%= boton_editar edit_persona_path(@persona) %> |
<%= boton_volver personas_path %>
