<h1 class= "page-header">Catalogo de Productos</h1>
<ul class="thumbnails">
  <% @productos.each do |producto| %>
  <li class="span3">
    <div class="thumbnail">
    <img alt="" src="http://placehold.it/260x180">
    <div class="caption">
      <h5><%= producto.nombre %></h5>
      <p><%= producto.descripcion %></p>
      <p>
        <%= link_to "Ver mas...", producto_path(producto), :class => "btn btn-primary" %>
        <a class="btn" href="#">Comentar</a>
      </p>
    </div>
  </li>
  <% end %>
</ul>

<%= paginate @productos %>

<% if can? :create, @producto %>
  <%= link_to "Nuevo", new_producto_path, :class => 'btn btn-primary' %>
<% end %>

