<%= show_for @servicio do |servicio| %>

  <% if !@servicio.aceptado? %>
    <p class="text-info">
    <span class="label label-info">Nota:</span>
    Su servicio aun no ha sido aprobado por un administrador para ser visibles de forma pública.
    </p>
  <% end %>

<div class="row">
  <div class="span6">
    <ul class="thumbnails">
      <li class="span4">
        <%= link_to image_tag(@servicio.imagen_1.url(:normal)), img_path(@servicio.imagen_1), :class => "thumbnail" %>
      </li>
      <li class="span2">
        <%= link_to image_tag(@servicio.imagen_2.url(:mini)), img_path(@servicio.imagen_2), :class => "thumbnail" %>
      </li>
      <li class="span2">
        <%= link_to image_tag(@servicio.imagen_3.url(:mini)), img_path(@servicio.imagen_3), :class => "thumbnail" %>
      </li>
      <li class="span2">
        <%= link_to image_tag(@servicio.imagen_4.url(:mini)), img_path(@servicio.imagen_4), :class => "thumbnail" %>
      </li>
      <li class="span2">
        <%= link_to image_tag(@servicio.imagen_5.url(:mini)), img_path(@servicio.imagen_5), :class => "thumbnail" %>
      </li>
      <li class="span2">
        <%= link_to image_tag(@servicio.imagen_6.url(:mini)), img_path(@servicio.imagen_6), :class => "thumbnail" %>
      </li>
    </ul>
  </div>
  <div class="span6">
    <article>
      <p>
       <h4><%= @servicio.rubro.blank? ? "Sin rubro" : @servicio.rubro.nombre %></font></h4>
         <h1><%= @servicio.nombre %></h1>
      </p>
      <%= servicio.attribute :descripcion %>
      <%= servicio.attribute :precio, 
                             :value => number_to_currency(@servicio.precio, :locale => 'es-AR') %>
      <%= servicio.attribute :created_at, :format => :long, :label => "Fecha de creacion" %>
      <%= servicio.attribute :updated_at, :format => :long, :label => "Ultima actualizacion" %>
    </article>
  </div>
</div>
<% end %>

<% unless @servicio.aceptado %>
<span class="label label-info">
  Servicio pendiente de aprobacion por un moderador para estar publicado
</span>
<% end %>

<div class="form-actions">
  <% if can? :edit, @servicio %>
    <%= link_to(edit_mi_emprendimiento_servicio_path(@servicio), :class => 'btn btn-warning') do %>
      <i class="icon-pencil"></i>
      <span>Editar</span>
    <% end %>
  <% end %>

  <% if can? :destroy, @servicio %>
    <%= link_to(mi_emprendimiento_servicio_path(@servicio),
                :class => 'btn btn-danger',
                rel: 'tooltip', title: 'Eliminar',
                method: :delete, data: { confirm: '¿Esta seguro?' }) do %>
      <i class="icon-trash"></i>
    <% end %>
  <% end %>

  <button type="button" class="btn" data-toggle="collapse" data-target="#comentarios">
    <i class="icon-comment"></i>
    <span id="contador_comentarios"><%= @servicio.comentarios.aceptados.count %> Comentarios</span>
  </button>

  <%= link_to :back, :class => 'btn' do %>
    <i class="icon-arrow-left"></i>
    <span>Volver</span>
  <% end %>
</div>

<%= render 'comentarios/comentarios', :comentable => @servicio %>
