<%= search_form_for(@q, :html => { :class => 'form-search' }) do |f| %>
  <strong>Ordenar por:</strong>
  <%= sort_link @q, :asunto, {}, :class => 'label' %>
  <%= sort_link @q, :created_at, "Fecha", {}, :class => 'label' %>

  <div class="input-append pull-right">
    <%= f.text_field :asunto_or_texto_cont,
                     :class=> 'search-query',
                     :placeholder => 'Asunto o Texto' %>
    <%= link_to(mensajes_path, :type => 'button',
                               :class => 'btn btn-comun',
                               rel: 'tooltip', title: 'Ver todos',) do %>
      <i class="icon-remove-sign"></i>
    <% end %>
    <%= f.button "Buscar", :class=> 'btn' %>
  </div>
<% end %>
<hr>
