<h1 class="page-header">Mis Mensajes</h1>
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li>
      <%= link_to 'Recibidos', mensajes_path %>
    </li>
    <li class="active">
      <%= link_to 'Enviados', enviados_mensajes_path %>
    </li>
    <li>
      <%= link_to 'Redactar', new_mensaje_path %>
    </li>
  </ul>
  <div class="tab-content">

<%= search_form_for(["enviados", @q], :html => { :class => 'form-search' }) do |f| %>
  <strong>Ordenar por:</strong>
  <%= sort_link @q, :asunto, {}, :class => 'label' %>
  <%= sort_link @q, :created_at, "Fecha", {}, :class => 'label' %>

  <div class="input-append pull-right">
    <%= f.text_field :asunto_or_texto_cont,
                     :class=> 'search-query',
                     :placeholder => 'Asunto o Texto' %>
    <%= link_to(mensajes_path, :type => 'button',
                               :class => 'btn btn-comun',
                               rel: 'tooltip', title: 'Ver todos',) do %>
      <i class="icon-remove-sign"></i>
    <% end %>
    <%= f.button "Buscar", :class=> 'btn' %>
  </div>
<% end %>
<hr>

    <table class="table table-hover"">
      <thead>
        <tr>
          <th>Estado</th>
          <th>Para</th>
          <th>Asunto</th>
          <th>Fecha</th>
          <th><span class="pull-right">Acciones</span></th>
        </tr>
      </thead>
      <tbody>
        <% @enviados.each do |mensaje| %>
        <tr>
          <td>
          <% if mensaje.eliminado_destinatario? %>
            <span class="label label-important", rel="tooltip", title="Por el destinatario">Eliminado</span>
          <% elsif mensaje.leido? %>
            <span class="label label-success", rel="tooltip", title="Por el destinatario"">Leido</span>
          <% else %>
            <span class="label label-warning", rel="tooltip", title="Por el destinatario">No leido</span>
          <% end %>
          </td>
          <td><%= mensaje.destinatario.nombre_completo %></td>
          <td><%= mensaje.asunto %></td>
          <td><%= mensaje.fecha %></td>
          <td>
            <div class="pull-right">
              <%= link_to "Ver", mensaje, :class => 'label label-success' %>
              <%= link_to "Reenviar", new_mensaje_path(:id => mensaje.id) , :class => 'label label-info' %>
              <%= link_to(mensaje_path(mensaje),
                          :class => 'label label-important',
                          rel: 'tooltip', title: 'Eliminar',
                          method: :delete, data: { confirm: '¿Esta seguro?' }) do %>
                <i class="icon-trash  icon-white"></i>
              <% end %>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @enviados %>
  </div>
</div>
