<h1 class="page-header">Mis Mensajes</h1>

<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li>
      <%= link_to 'Recibidos', mensajes_path %>
    </li>
    <li>
      <%= link_to 'Enviados', enviados_mensajes_path %>
    </li>
    <li>
      <%= link_to 'Redactar', new_mensaje_path %>
    </li>
    <li class="active">
      <%= link_to 'Mensaje', @mensaje %>
    </li>
  </ul>
  <div class="tab-content">
    <%= render 'mensaje' %>
  </div>
</div>
