<%= simple_form_for @usuario do |f| %>

  <%= f.error_notification %>

  <fieldset>
    <legend>Datos de la cuenta</legend>
    <%= f.input :usuario %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :mail, :placeholder => 'usuario@dominio.com.ar' %>
    <%= f.association :rol, :label_method =>  :nombre, :prompt => 'Elija un rol' %>
  </fieldset>

  <fieldset>
    <legend>Datos personales</legend>
    <%= f.simple_fields_for :persona do |persona| %>
      <%= render "personas/form", :f => persona %>
    <% end %>
  </fieldset>

  <div class="actions">
    <%= f.button :submit, :class => 'btn primary' %>
    <%= boton_cancelar usuarios_path %>
  </div>

<% end %>
