<h2 class= "breadcrumb"><%= t('titulo.editando') %> usuario</h2>

<%= simple_form_for @usuario do |f| %>

  <%= f.error_notification %>

  <fieldset>
    <legend>Datos de la cuenta</legend>
    <%= f.input :email, :placeholder => 'usuario@dominio.com.ar' %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>

  </fieldset>

  <fieldset>
    <legend>Datos personales</legend>
    <%= f.simple_fields_for :persona do |persona| %>
      <%= render "personas/form", :f => persona %>
    <% end %>
  </fieldset>

  <div class="actions">
    <%= f.button :submit, :class => 'btn primary' %>
    <%= boton_cancelar :back %>
  </div>

<% end %>
