<h2 class= "breadcrumb">Usuarios</h2>
<table id="5columnas" class="zebra-striped">
  <thead>
    <tr>
      <th class="blue">Usuario</th>
      <th class="blue">Nombre</th>
      <th class="blue">Mail</th>
      <th class="blue">Rol</th>
      <th><%= boton_agregar new_usuario_path %></th>
    </tr>
  </thead>

  <tbody>
  <% @usuarios.each do |usuario| %>
    <tr>
      <td><%= usuario.usuario %></td>
      <td><%= usuario.persona.nombre_completo %></td>
      <td><%= usuario.email %></td>
      <td><%= usuario.type %></td>
      <td class="acciones">
        <%= boton_mostrar usuario %>
        <%= boton_editar edit_usuario_path(usuario) %>
        <%= boton_eliminar usuario %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
