<table class="zebra-striped">
  <caption>Usuarios</caption>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Nombre</th>
      <th>Mail</th>
      <th>Rol</th>
      <th><%= boton_agregar new_usuario_path %></th>
    </tr>
  </thead>
  <tbody>
  <% @usuarios.each do |usuario| %>
    <tr>
      <td><%= usuario.usuario %></td>
      <td><%= usuario.persona.nombre_completo %></td>
      <td><%= usuario.mail %></td>
      <td><%= usuario.rol.nombre %></td>
      <td class="acciones">
        <%= boton_mostrar usuario %>
        <%= boton_editar edit_usuario_path(usuario) %>
        <%= boton_eliminar usuario %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
