<h2 class= "breadcrumb">Usuario</h2>
<article>
<div class="row">
  <div class="span-one-third">
    <h3>Datos de Cuenta</h3>
    <p>
      <strong>Mail</strong><br>
      <%= @usuario.email %>
    </p>
    <p>
      <strong>Rol</strong><br>
      <%= @usuario.rol %>
    </p>
    <p>
      <strong>Fecha de creacion</strong><br>
      <%= @usuario.created_at %>
    </p>
  </div>
  <div class="span-one-third">
    <h3>Datos Personales</h3>
    <%= render 'personas/show', :persona => @usuario.persona %>
  </div>
</div>

<div class="actions">
  <%= boton_editar edit_usuario_path(@usuario) %>
  <% if current_usuario.administrador? %>
    <%= boton_volver usuarios_path %>
  <% else %>
    <%= boton_volver :back %>
  <% end %>
</div>
