<p>
  <b>Usuario:</b>
  <%= @usuario.usuario %>
</p>

<p>
  <b>Mail:</b>
  <%= @usuario.mail %>
</p>

<p>
  <b>Rol:</b>
  <%= @usuario.rol.nombre %>
</p>

  <%= render 'personas/show', :persona => @usuario.persona %>

<div class="actions">
  <%= boton_editar edit_usuario_path(@usuario) %>
  <%= boton_volver usuarios_path %>
</div>
