<h1 class= "page-header">Mi Usuario</h1>
<%= show_for @usuario do |usuario| %>
<div class="row">
<div class="span2">
<img class="thumbnail" alt="" src="http://placehold.it/120&text=foto">
<hr>

<%= link_to(edit_registration_path(@usuario), :class => "btn btn-primary" ) do %>
  <i class="icon-edit icon-white"></i>
  <span>Editar</span>
<% end %>
<hr>
</div>
<div class="span5">
  <%= usuario.attribute :nombre %>
  <%= usuario.attribute :apellido %>
  <%= usuario.attribute :sexo %>
  <%= usuario.attribute :email %>
  <%= usuario.attribute :rol %>
  <%= usuario.association :institucion, :using => :nombre %>
</div>
<div class="span5">
  <%= usuario.attribute :created_at, :label => "Fecha de creacion de la cuenta" %>
  <%= usuario.attribute :confirmed_at, :label => "Fecha de confirmacion de la cuenta" %>
  <%= usuario.attribute :last_sign_in_at, :label => "Fecha y hora del ingreso anterior" %>
  <%= usuario.attribute :current_sign_in_at, :label => "Fecha y hora del ingreso actual" %>
  <%= usuario.attribute :sign_in_count, :label => "Cantidad de ingresos al sistema" %>
</div>
<% end %>
