<h2 class= "breadcrumb">Barrios</h2>
<table id="3columnas" class="zebra-striped">
  <thead>
    <tr>
      <th class="blue">Nombre</th>
      <th class="blue">Descripcion</th>
      <th><%= boton_agregar new_barrio_path %></th>
    </tr>
  </thead>

  <tbody>
  <% @barrios.each do |barrio| %>
    <tr>
      <td><%= barrio.nombre %></td>
      <td><%= barrio.descripcion %></td>
      <td class="acciones">
        <%= boton_mostrar barrio %>
        <%= boton_editar edit_barrio_path(barrio) %>
        <%= boton_eliminar barrio %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
