<h2 class= "breadcrumb">Barrio</h2>
<article>
  <h3>Informacion General</h3>
  <p>
    <strong>Nombre</strong><br>
    <%= @barrio.nombre %>
  </p>

  <p>
    <strong>Descripcion</strong><br>
    <%= @barrio.descripcion %>
  </p>

  <p>
    <strong>Fecha de creacion</strong><br>
    <%= @barrio.created_at %>
  </p>
</article>

<div class="actions">
  <%= boton_editar edit_barrio_path(@barrio) %>
  <%= boton_volver barrios_path %>
</div>
