<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @plan_social.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @plan_social.descripcion %>
</p>

<p>
  <b>Institucion:</b>
  <%= @plan_social.institucion_id %>
</p>


<%= boton_editar edit_plan_social_path(@plan_social) %> |
<%= boton_volver planes_sociales_path %>
