<li class="dropdown">
  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
    <i class="icon-user icon-white"></i>
    <%= current_usuario.nombre %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li class="nav-header"><%= current_usuario.rol %></li>
    <li>
      <%= link_to(usuario_path) do %>
        <i class="icon-user"></i>
        <span>Mi Usuario</span>
      <% end %>
    </li>
<% if current_usuario.emprendedor? %>
    <li>
      <%= link_to(perfil_path) do %>
        <i class="icon-home"></i>
        <span>Mi Perfil</span>
        <% if !current_usuario.perfil.completo? %>
          <span class="label label-important">Incompleto</span>
        <% end %>
      <% end %>
    </li>
    <li>
      <%= link_to(emprendimiento_usuario_path) do %>
        <i class="icon-home"></i>
        <span>Mi Emprendimiento</span>
        <% if !current_usuario.emprendimiento.completo? %>
          <span class="label label-important">Incompleto</span>
        <% end %>
      <% end %>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to(productos_path(:emprendimiento => current_usuario.emprendimiento )) do %>
        <i class="icon-home"></i>
        <span>Mis Productos</span>
      <% end %>
    </li>
    <li>
      <%= link_to(servicios_path) do %>
        <i class="icon-home"></i>
        <span>Mis Servicios</span>
      <% end %>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to(root_path) do %>
        <i class="icon-home"></i>
        <span>Comentarios</span>
        <span class="badge badge-info">25</span>
      <% end %>
    </li>
<% else %>
    <li>
      <%= link_to(rails_admin_path) do %>
        <i class="icon-list-alt"></i>
        <span>Administrar</span>
      <% end %>
    </li>
<% end %>
    <li>
      <%= link_to(mensajes_path) do %>
        <i class="icon-home"></i>
        <span>Mensajes</span>
        <span class="badge badge-success">
          <%= current_usuario.mensajes_recibidos.count %>
        </span>
      <% end %>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to(destroy_usuario_session_path, :method => :delete) do %>
        <i class="icon-off"></i>
        <span class="">Salir</span>
      <% end %>
    </li>
  </ul>
</li>

<% if current_usuario.respond_to?(:email) %>
<li>
<%= image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest current_usuario.email}?s=30", :style => 'padding-top:5px' %>
</li>
<% end %>
