<li class="dropdown">
  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
    <i class="icon-user icon-white"></i>
    <%= current_usuario.persona.nombre %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to(usuario_path(current_usuario)) do %>
        <i class="icon-user"></i>
        <span>Mi Usuario</span>
      <% end %>
    </li>
    <li class="divider"></li>
    <li class="nav-header"><%= current_usuario.rol %></li>
<% if current_usuario.emprendedor? %>
    <li>
      <%= link_to(root_path) do %>
        <i class="icon-home"></i>
        <span>Mi Emprendimiento</span>
      <% end %>
    </li>
    <li>
      <%= link_to(empadronarme_path) do %>
        <i class="icon-check icon-white"></i>
        <span>Empadronarme</span>
      <% end %>
    </li>
<% else %>
    <li>
      <%= link_to(empadronar_path) do %>
        <i class="icon-check"></i>
        <span>Empadronar</span>
      <% end %>
    </li>
    <li>
      <%= link_to(rails_admin_path) do %>
        <i class="icon-list-alt"></i>
        <span>Gestionar</span>
      <% end %>
    </li>
<% end %>
    <li class="divider"></li>
    <li>
      <%= link_to(destroy_usuario_session_path, :method => :delete) do %>
        <i class="icon-off"></i>
        <span class="">Salir</span>
      <% end %>
    </li>
  </ul>
</li>
