<header>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Emprender", root_path, :id => "logo", :class => "brand" %>
      <div class="container nav-collapse">
        <ul class="nav">
          <li class="<%= 'active' if current_page?(:action => 'acerca') %>">
            <%= link_to(acerca_path) do %>
              <i class="icon-info-sign icon-white"></i>
              <span>Acerca de...</span>
            <% end %>
          </li>
          <li class="<%= 'active' if current_page?(:controller => 'noticias') %>">
            <%= link_to(noticias_path) do %>
              <i class="icon-book icon-white"></i>
              <span>Noticias</span>
            <% end %>
          </li>
          <li class="<%= 'active' if current_page?(:controller => 'eventos') %>">
            <%= link_to(eventos_path) do %>
              <i class="icon-time icon-white"></i>
              <span>Eventos</span>
            <% end %>
          </li>
          <li class="<%= 'active' if current_page?(:controller => 'productos') %>">
            <%= link_to(productos_path) do %>
              <i class="icon-gift icon-white"></i>
              <span>Productos</span>
            <% end %>
          </li>
          <li class="<%= 'active' if current_page?(:controller => 'servicios') %>">
            <%= link_to(servicios_path) do %>
              <i class="icon-screenshot icon-white"></i>
              <span>Servicios</span>
            <% end %>
          </li>
      </ul>
      <ul class="nav pull-right">
      <li class="divider-vertical"></li>
        <% if usuario_signed_in? %>
          <%= render 'menu_usuario' %>
        <% else %>
        <li>
          <%= link_to(new_usuario_session_path) do %>
            <!--<i class="icon-ok icon-white"></i>-->
            <span class="badge badge-success">Ingresar</span>
          <% end %>
        </li>
        <% end %>
      </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
</header>
