<div class="row">
  <div class="span6 columns offset1">
  <% @informaciones.each do |informacion| %>
    <div id="informacion_<% informacion.orden %>">
      <h3><%= informacion.titulo %> 
        <small>
          <strong> <%= informacion.subtitulo %></strong>
        </small>
      </h3>
      <p><%= informacion.texto.html_safe %></p>
    </div>
  <% end %>
  </div>

  <div class="span4 columns offset1">
    <h5>Sitio creado y donado por</h5>
    <div class="row-fluid">
      <div class="span3 autor">
        <%= image_tag "pereyra-diaz-mono.png", :class => 'img-circle autor',
                      :data => { :content => "Ingeniero en Informática",
                                 'original-title' =>"Claudio Rodrigo Pereyra Diaz" },
                      :rel => 'popover' %>
      </div>
      <div class="span3 autor">
        <%= image_tag "caramichos-mono.png", :class => 'img-circle autor',
                      :data => { :content => "Ingeniero en Informática",
                                 'original-title' =>"Adriel Hernán Caramichos",
                                 :placement => 'bottom' },
                      :rel => 'popover' %>
      </div>
      <div class="span3 autor">
        <%= image_tag "logo-ufasta-mono.jpg", :class => 'img-circle autor',
                      :data => { :content => "Facultad de Ingenieria",
                                 'original-title' =>"Universidad Fasta",
                                 :placement => 'left' },
                      :rel => 'popover' %>
      </div>
    </div>
    <br>
    <h3>Instituciones</h3>
    <dl>
      <% @instituciones.each do |institucion| %>
        <dt><%= institucion.nombre %></dt>
          <dd><%= institucion.descripcion %></dd>
      <% end %>
    </dl>
    <br>
    <h4>Vinculos de interes</h4>
    <ul>
    <% @vinculos.each do |vinculo| %>
      <li><%= link_to "#{vinculo.nombre}", "#{vinculo.url}", target: "_blank" %></li>
    <% end %>
    </ul>
  </div>
</div>
