<div class="row">
<div class="columns span10 offset1">
<div class="carousel slide img-polaroid" id="myCarousel">
  <div class="carousel-inner">
    <div class="item active">
      <div class="carousel-caption">
        <h4>El Padrón</h4>
        <p>Un registro de emprendedores del Partido de General Pueyrredón para poder facilitar ayuda, capacitaciones, colaboración, información a los distintos emprendedores.</p>
      </div>
      <%= image_tag "portada-fijo-1.jpg" %>
    </div>
    <div class="item">
      <div class="carousel-caption">
        <h4>Catálogo de Productos</h4>
        <p>Un amplio catálogo de los productos característicos de cada emprendimiento.</p>
      </div>
      <%= image_tag "portada-fijo-2.jpg" %>
    </div>
    <div class="item">

      <div class="carousel-caption">
        <h4>Catálogo de Servicios</h4>
        <p>Una amplia variedad de servicios ofrecidos una numerosa cantidad de emprendedores abarcando un amplio abanico de rubros.</p>
      </div>
      <%= image_tag "portada-fijo-3.jpg" %>
    </div>
    <% @fotos.each do |foto| %>
    <div class="item">
      <div class="carousel-caption">
        <h4><%= foto.titulo %></h4>
        <p><%= foto.texto %></p>
      </div>
      <%= image_tag foto.foto.url(:normal) %>
    </div>
    <% end %>
  </div>
  <a data-slide="prev" href="#myCarousel" class="left carousel-control">‹</a>
  <a data-slide="next" href="#myCarousel" class="right carousel-control">›</a>
</div>
</div>
</div>
<div class="text-center">
<%= social_share_button_tag('Emprender') %>
</div>
