<h2 class= "breadcrumb">Estados</h2>
<table id="3columnas" class="zebra-striped">
  <thead>
    <tr>
      <th class="blue">Nombre</th>
      <th class="blue">Descripcion</th>
      <th><%= boton_agregar new_estado_path %></th>
    </tr>
  </thead>

  <tbody>
  <% @estados.each do |estado| %>
    <tr>
      <td><%= estado.nombre %></td>
      <td><%= estado.descripcion %></td>
      <td class="acciones">
        <%= boton_mostrar estado %>
        <%= boton_editar edit_estado_path(estado) %>
        <%= boton_eliminar estado %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
