<h1>Listando estados</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th colspan="3" rowspan="1">
      <%= boton_agregar new_estado_path %>
    </th>
  </tr>

<% @estados.each do |estado| %>
  <tr>
    <td><%= estado.nombre %></td>
    <td><%= estado.descripcion %></td>
    <td><%= boton_mostrar estado %></td>
    <td><%= boton_editar edit_estado_path(estado) %></td>
    <td><%= boton_eliminar estado %></td>
  </tr>
<% end %>
</table>

<br />
