<h2>Estados</h2>
<table class="zebra-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th><%= boton_agregar new_estado_path %></th>
    </tr>
  </thead>

  <tbody>
  <% @estados.each do |estado| %>
    <tr>
      <td><%= estado.nombre %></td>
      <td><%= estado.descripcion %></td>
      <td class="acciones">
        <%= boton_mostrar estado %>
        <%= boton_editar edit_estado_path(estado) %>
        <%= boton_eliminar estado %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
