<h2 class= "breadcrumb">Estado</h2>
<article>
<div class="row">
  <div class="span-one-third">
    <h3>Informacion General</h3>
    <p>
      <strong>Nombre</strong><br>
      <%= @estado.nombre %>
    </p>

    <p>
      <strong>Descripcion</strong><br>
      <%= @estado.descripcion %>
    </p>
    
    <p>
      <strong>Fecha de creacion</strong><br>
      <%= @estado.created_at %>
    </p>
  </div>
</div>
</article>

<div class="actions">
  <%= boton_editar edit_estado_path(@estado) %>
  <%= boton_volver estados_path %>
</div>
