<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:titulo) ? "Emprender - #{yield(:titulo)}" : "Emprender" %></title>
    <%= csrf_meta_tags %>
  
    <meta name="description" content="Padron de emprendedores">
    <meta name="author" content="Claudio Rodrigo Pereyra Diaz">
    <meta name="author" content="Adriel Hernan Caramichos">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>

    <%= auto_discovery_link_tag :atom, noticias_path(:atom), :title => "Noticias" %>
    <%= auto_discovery_link_tag :atom, eventos_path(:atom) , :title => "Eventos" %>

    <link href="favicon.png" rel="shortcut icon" type="image/png" />
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
</head>
<body>
    <%= render 'menu' %>

    <div id="main" role="main" class="container">

      <div class="content">

        <%= render_crumbs :separator => "<span class=\"divider\"> &raquo; </span> ".html_safe,
                          :microdata => true %>

        <% if notice.present? %>
        <div id="notice" class="alert alert-success fade in" data-alert="alert">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <%= notice %>
        </div>
        <% end %>

        <% if alert.present? %>
        <div id="alert" class="alert alert-error fade in" data-alert="alert">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <%= alert %>
        </div>
        <% end %>

        <%= yield %>

      </div><!--/content-->
    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

</body>
</html>
