<!DOCTYPE html>
<html>
<head>
  <title>Emprender</title>
  <%= stylesheet_link_tag 'emprender' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <header>
  <% if autenticado? %>
    <%= link_to "Personas", personas_path, :class => 'menu' %>
    <%= link_to "Noticias", noticias_path, :class => 'menu' %>
    <%= link_to "Instituciones", instituciones_path, :class => 'menu' %>
    <%= link_to "Categorias", categorias_path, :class => 'menu' %>
    <%= link_to "Estados", estados_path, :class => 'menu' %>
    <%= link_to "Rubros", rubros_path, :class => 'menu' %>
    <div id="usuario"> <%= @usuario_actual.usuario %></div>
    <%= link_to "Cerrar Sesion", logout_path, :class => 'menu' %>
  <% else %>
    <%= link_to "Iniciar Sesion", login_path %>
  <% end %>
  </header>
  <div id="principal">
    <%= yield %>
  </div>
</body>
</html>
