<!DOCTYPE html>
<head>
  <title>Emprender</title>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="Claudio Rodrigo Pereyra Diaz">
  <meta name="author" content="Adriel Hernan Caramichos">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
  <%= stylesheet_link_tag    "application" %>

  <%= csrf_meta_tag %>
</head>
<body>
  <header>
    <%= render 'general/menu' %>
  </header>
  <div id="main" role="main" class="container">
    <%= content_tag(:p, notice, :class => 'alert-message success') if notice.present? %>
    <%= content_tag(:p, alert , :class => 'alert-message warning') if alert.present? %>
    <%= yield %>
  </div>
  <footer id="footer">
    <div class="container">
      Creditos
    </div>
  </footer>

  <!-- JavaScript at the bottom for fast page loading -->
  <%= javascript_include_tag "application" %>

</body>
</html>
