<!DOCTYPE html>
<head>
  <title>Emprender</title>

  <meta charset="utf-8">
  <meta name="description" content="Padron de emprendedores">
  <meta name="author" content="Claudio Rodrigo Pereyra Diaz">
  <meta name="author" content="Adriel Hernan Caramichos">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <%= stylesheet_link_tag    "application" %>

  <%= csrf_meta_tag %>
</head>
<body>
  <header>
    <%= render 'general/menu' %>
  </header>
  <div id="main" role="main" class="container">
    <div class="content">
      <% if notice.present? %>
      <div id="notice" class="alert-message success fade in" data-alert="alert">
        <a class="close" href="#">×</a>
        <%= content_tag(:p, notice) %>
      </div>
      <% end %>

      <% if alert.present? %>
      <div id="alert" class="alert-message warning fade in" data-alert="alert">
        <a class="close" href="#">×</a>
        <%= content_tag(:p, alert)%>
      </div>
      <% end %>

      <%= yield %>

    </div>
  </div>
  <footer id="footer" class="footer topbar-inner">
    <p>&copy; Creado y diseñado por: Claudio Rodrigo Pereyra Diaz y Adriel Hernan Caramichos</p>
  </footer>
  <!-- JavaScript at the bottom for fast page loading -->
  <%= javascript_include_tag "application" %>

  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
  chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>

