<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Emprender</title>
  <%= stylesheet_link_tag 'emprender' %>
<!--
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
$(document).ready(function(){
$(document).pngFix( );
});
</script>
-->
</head>
<body> 
  <div id="cabecera">
    <h1><%= link_to "Emprender", root_path %></h1>
    <div id="menu">
    <% if autenticado? %>
      <%= link_to "Personas", personas_path %> |
      <%= link_to "Emprendedores", emprendedores_path %> |
      <%= link_to "Instituciones", instituciones_path %> |
      <%= link_to "Categorias", categorias_path %> |
      <%= @usuario_actual.usuario %>
      <%= link_to "Cerrar Sesion", logout_path %>
    <% else %>
      <%= link_to "Iniciar Sesion", login_path %>
    <% end %>
    </div>
  </div>
  <div id="principal">
    <div id="principal-notificacion">
      <%= content_tag(:p, notice, :class => 'notice') if notice.present? %>
    </div>
    <div id="principal-alerta">
      <%= content_tag(:p, alert, :class => 'alert') if alert.present? %>
    </div>
    <div id="cuerpo">
      <%= yield %>
    </div>
  </div>
  <div id="pie">
  </div>
</body>
</html>
