<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Emprender</title>
  <%= stylesheet_link_tag 'login' %>
<!--
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
-->
</head>
<body> 
  <%= yield %>
</body>
</html>
